.root {
    -fx-background-image: url("../images/background.jpg");
    /*-fx-background-repeat: stretch;*/
    /*-fx-background-position: left top;*/
    -fx-background-size: cover;
}

.gameHUD {
    -fx-background-color: Lightgrey;
}